<div class="container">
    <div class="col-md-12">
        <footer>
            <div class="text-center" style="color: red;">
                Built with <a href="https://github.com/gotkrypto76/vbase">VBase</a>!
            </div>
        </footer>
    </div>
</div>