<div class="container">
    <div class="col-md-12">
        <footer>
            <div class="text-center" style="color: red;">
                COPYRIGHT (C) 2019 MAXWELL LANG - PROPRIETARY AND CONFIDENTIAL
            </div>
        </footer>
    </div>
</div>