<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <form method="POST" action="/login">
                <div class="row">
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="text" id="email" name="email" placeholder="Email Address" class="form-control" />

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" id="submit" name="submit" value="Login" class="form-control btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>