<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <form method="POST" action="/register">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Username" class="form-control" />

                            <label for="email">Email Address:</label>
                            <input type="text" id="email" name="email" placeholder="Email Address" class="form-control" />

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="firstname">First Name (Optional):</label>
                                    <input type="text" id="firstname" name="firstname" placeholder="First Name" class="form-control" />
                                </div>

                                <div class="col-md-6">
                                    <label for="lastname">Last Name (Optional):</label>
                                    <input type="text" id="lastname" name="lastname" placeholder="Last Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" id="submit" name="submit" value="Register" class="form-control btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>