// -----------------------------------------------------------------------------
// 404
// -----------------------------------------------------------------------------

body {
    background: #333;
}

.align-items-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#heroErrorType { font-size: 150px; }
