<div class="align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="heroErrorType">404</h1>
                <div class="lead">The page you are looking for was not found.</div>
                <p>We can't find anything at {{url}}</p>
                <p><a href="/" class="btn btn-link">Back to Home</a></p>
            </div>
        </div>
    </div>
</div>