<div class="align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="heroErrorType">500</h1>
                <div class="lead">Internal Server Error</div>
                <p>Something has gone wrong, and you've landed here as a result. This error has been logged.</p>
                <p><a href="/" class="btn btn-link">Back to Home</a></p>
            </div>
        </div>
    </div>
</div>