// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Global colors available throughout the site
$brand-primary: #0de05e;
$brand-secondary: #077833;
$brand-alternate: #29322d;
