<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 id="welcomeTitle">Welcome to VBase!</h1>
                <p>A simple and quick way to start building nodejs websites.</p>
            </div>
        </div>
        <div class="col-md-12">
            <p>Links:</p>
            <ul>
                <p>Page Examples:</p>
                <ul>
                    <li><a href="/">/ => /hello [REDIRECT] (GET, POST)</a></li>
                    <li><a href="/hello">/hello (GET)</a></li>
                </ul>
                <p>API:</p>
                <ul>
                    <li><a href="/api/hello">/api/hello (GET)</a></li>
                </ul>
                {{#if CONFIG.useDB}}
                    <p>Accounts:</p>
                    <ul>
                        <li><a href="/login">/login (GET, POST)</a></li>
                        <li><a href="/register">/register (GET, POST)</a></li>
                        <li><a href="/logout">/logout (GET)</a></li>
                        <li><a href="/hello/auth">/hello/auth (GET)</a></li>
                    </ul>
                {{/if}}
            </ul>
            <p>Getting started:</p>
            <ol>
                <li>Install running dependencies: <pre>npm i</pre></li>
                <li>Install dev dependencies: <pre>npm i --only=dev</pre></li>
                <li>Generate SQL for base site: <pre>gulp sql</pre></li>
                <li>Configure your project in the config directory: <pre>/config</pre></li>
                <li>Begin development with Livereload and supporting frameworks: <pre>gulp</pre></li>
                <li>Production:
                    <ul>
                        <li>Windows:
                            <pre>SET JSEnvironment=PRODUCTION
gulp prepare
npm start</pre>
                        </li>
                        <li>Mac/Linux:
                            <pre>gulp production
JSEnvironment="PRODUCTION" npm start</pre>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/hello.min.js"></script>