<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 id="authTitle">VBase Authentication!</h1>
                <p>If you can see this, all is well and you are authenticated.</p>
            </div>
        </div>
        <div class="col-md-12">
            <p>Very cool.</p>
            {{#each user}}
                <pre>{{this}}</pre>
            {{/each}}
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/helloauth.min.js"></script>